.overlay {
  padding: 64px 16px;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: #303030ec;
  color: white;
  overflow: scroll;
}

.section {
  background-color: black;
  border-radius: 16px;
  padding: 8px;
  position: relative;
}

.name {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.strImg {
  width: 100%;
  height: auto;
  border-radius: 16px;
}

.part{
  margin-top: 16px;
}

.modalSubtitle{
  font-weight: 600;
  font-size: 18px;
  margin: 5px 0;
}

.biography {
  margin: 16px 0;

  font-weight: 400;
  font-size: 18px;
  /* display: -webkit-box;
  -webkit-line-clamp: 2; скільки рядків залишити 
  -webkit-box-orient: vertical;
  overflow: hidden; */
}

.genresList{
  display: flex;
  padding: 24px 0;
  gap: 16px;
}

.genre{
  border: 1px solid #383539;
  padding: 4px 8px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
}

.close{
  position: absolute;
  top:25px;
  right: 25px;
  background-color: transparent;
}

.albums{
  font-weight: 700;
  font-size: 24px;
}

.albumsList{
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.album{
  background-color: #1E1C1F;
  border-radius: 16px;
  padding: 14px 11px;
}

.albumTitle{
  font-weight: 600;
  font-size: 16px;
  padding-bottom: 12px;
}

.info{
  background-color: #29282A;
  border-radius: 16px;
  padding: 4px 12px;
  display: flex;
  justify-content: space-between;
}

.infoWrapOne{
  width: 60%;
}

.infoWrapTwo{
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.infotext{
  font-weight: 600;
  font-size: 8px;
}

.tracks{

  border-radius: 8px;
}

.track{
  padding: 14px 12px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 400;
}

.tracks li:nth-child(even) {
  padding: 14px 12px;
  background-color: #2a2a2a;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 400;
}