.section {
  color: white;
  background-color: #764191;
}

.description {
  font-size: 64px;
  font-weight: 700;
  line-height: 76px;
}
.firstWrap {
  display: flex;
  flex-direction: column;
}

.rightSide{
    display: flex;
    justify-content: center;
    align-items: center;
}