.logoWrap{
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
}

.nav{
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
}

.header{
    display: flex;
    justify-content: space-between;
}